{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures.get(departure_tag) }}</h1>
    <p class="mb-4">Найдено {{tours|length}}
      {{tours|length|word_agree_with_number('тур')}},
      {{tours.values()|price_limiter}} и {{tours.values()|nights_limiter}}</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour_tag, tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img class="card-img-top img-fluid" src="{{tour.picture}}" alt="{{tour.title}}">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{tour.description}}</p>
            <a href="/tours/{{tour_tag}}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}