{% extends 'base.html' %}
{% block container %}
  <main class="container">
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">Snowy Maple Resort ★★★★</h1>
      <!-- HERO -->
      <p class="lead">Индия Из Новосибирска 5 ночей</p>
      <img src="https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="w-75" alt="">
      <p class="my-4 w-75">It is beautiful to travel to Iceland in summer and being able to get a swim in the sea and dive in the cold, light-filled waters is a true treasure. It is a pleasure to make camp in the beautiful countryside, go hiking, ski in summer, have a backpacking vacation where you go in big groups, drink lots of beer and love to hear stories from your friends. If you're interested, make sure to book a trip from the "green" tour operator Beggars Guide Tours!</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за 42 700</a>
    </section>
  </main>
{% end block %}
